$markup-color : #f986c1;

#doc{
  .markup{
    background-color : rgba($markup-color,0.3)
  }
  .markup-hover{
    background-color : rgba($markup-color,0.6) !important;
    z-index: 2;
  }
  .markup-selected{
    background-color : $markup-color !important;
    z-index: 1;
  }
}

#users{
  margin-top:20px;
  position: fixed;
  overflow: auto;
  width: 18%;
  .user{
    position: relative;
    width: 90%;
    height: 50px;
    display: table;
    margin: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #d2fc88;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover{
      background-color: #adfa2a;
      -webkit-transform: scale(1.1); 
      -moz-transform: scale(1.1); 
      -o-transform: scale(1.1); 
      transform: scale(1.1); 
      cursor: pointer;cursor: hand;
    }
  }
  .photo{
    // float:left;
    vertical-align: middle; 
    // text-align: center; 
    display: table-cell;
  }
  .name{
    // float:left;
    vertical-align: middle; 
    text-align: left; 
    display: table-cell;
  }
  // height:400px;
}
//   top:50px;
//   left:10px;
//   // bottom:px;
//   width:15%;
//   height:100%;
//   overflow: auto;
//   // position: fixed;
//   // display: 

//   // border: 1px solid #ddd;
// }

#nav{
  height:35px;
  border-bottom:1px solid #ddd;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  background:#fff url(../assets/nav.png) repeat-x center left;
  z-index:999999;
  ul{
    height:25px;
    list-style:none;
    margin:6px auto 0px auto;
    width:200px;
    li{
      display:inline;
      float:left;
      margin:0px 2px;
      &.search{
        float:right;
      }
      input[type="text"]{
        float:left;
        border:1px solid #ccc;
        margin:0px 1px 0px 50px;
        padding:2px 2px 2px 2px;
      }
    }
  }

  a{
    font-size:11px;
    font-weight:bold;
    float:left;
    padding: 2px 4px;
    color:#999;
    text-decoration: none;
    border:1px solid #ccc;
    cursor: pointer;
    background:transparent url(../assets/overlay.png) repeat-x center left;
    height:16px;
    line-height:16px;
    &:hover{
      background:#D9D9DA none;
      color: #fff;
    }
    &.top, &.bottom{
      span{
        float:left;
        width:16px;
        height:16px;
      }
    }
    &.top{
      span{
        background:transparent url(../assets/top.png) no-repeat center center;
      }
    }
    &.bottom{
      span{
        background:transparent url(../assets/bottom.png) no-repeat center center;
      }
    }
  }

  input{
    &.searchbutton{
      border:1px solid #ccc;
      padding:1px;
      cursor:pointer;
      width:30px;
      height:22px;
      background:#E8E9EA url(../assets/search.png) no-repeat center center;
    }
    &.searchbutton:hover{
      background-color:#D9D9DA;
    }
  }
}

// #content{
//   position:relative;
// }

#doc{
  width:700px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  
}

#comments{
  top:0px;
  right:0px;
  width: 17%;
  position: absolute;
}

// #content{
//   margin-top:35px;
// }

.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.comment{
 display: table;
 -moz-border-radius: 3px;
 border-radius: 3px;
 background-color:$markup-color;
 padding-left: 3px;
 padding-top: 1px;
 padding-bottom: 3px;
 padding-right: 3px;
 opacity: 0.3;
 &.markup-hover{
   opacity: 0.6;
   z-index: 2;
 }
 &.markup-selected{
   opacity: 1;
   z-index: 1;
 }
}

.close-button{
  display:block;
  margin-left: auto;
  margin-right: 0px;
  // float: right;

}

textarea{
  width: 100%;
  border-style:solid; border-width:1px;border-color:#999;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  font-size: 12.0pt;
  font-family: 標楷體;

}